<a href="https://colab.research.google.com/github/ArtyGui/Repositorio_T_EntregaAtividades/blob/main/Exercicios_de_1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Exercicio 5.1

#somar 10 + 20 x 30
#dividir 42/30
#soma entre parênteses e multiplicação e depois subtração
#multiplicação entre parênteses com a subtração por 1
#subtração com resultado sendo dividido por 10 e sendo somado com 1500 e multiplicado com 9 e sendo elevado ao cubo

print(10+20 * 30)
print(42/30)
print((94+2)*6-1)
print((10+8)*(10-4)-1)
print(((1500+((100-9)/10))*9)**3)

610
1.4
575
107
2505426032558.259

In [2]:
#Exercicio 5.2
#Seu salário é de 1500
#Seu aumento será de 5%

salario = 1500
aumento = 5

print(salario + (salario * aumento / 100))

1575.0

In [3]:
#Exercicio 5.3
#O programa irá perguntar seu nome e exibir na tela

nome = str(input('Escreva seu nome: '))

print(f'Esse foi o nome que você escreveu: {nome}')

Escreva seu nome: Artur
Esse foi o nome que você escreveu: Artur

In [4]:
#Exercicio 5.4
# A vale 3
# B vale 5

print('A formula é 2a x 3b')

a = 3
b = 5
formula = (2*a) * (3*b) 

print(f'O resultado de 2a x 3b é {formula}')

A formula é 2a x 3b
O resultado de 2a x 3b é 90

In [5]:
#Exercicio 5.5
#O programa irá fazer a soma de 3 números

a = 2
b =3
c = 5

print('Os números que serão somados é 2 + 3 + 5\n')

soma = (a+b) + c

print(f'A soma desse números é: {soma}')

Os números que serão somados é 2 + 3 + 5

A soma desse números é: 10

In [6]:
#Exercicio 5.6
#O programa irá dizer quanto será o seu novo salário
salario = 750

porcentagem = 15    #15% de aumento

aumento = salario * porcentagem/100

print(salario + aumento)

862.5

In [7]:
#Exercicio 5.7
#O programa irá converter metros para centimetros
#O usuário irá informar a quantidade em metros que será convertida em centimetros

vmetros = float(input('Informe o valor em metros:\n'))
print('O valor está sendo sendo convertido\n')

conv = vmetros * 100
print(f'O valor {vmetros} Metros foi convertido em {conv}')

Informe o valor em metros:
45
O valor está sendo sendo convertido

O valor 45.0 Metros foi convertido em 4500.0

In [15]:
#Exercicio 5.8
#O programa irá ler o valor inteiro que será informado e depois abrirar a tabuada de 1 a 10 do valor lido

n1 = int(input('Digite um valor:\n'))

tab1 = n1 * 1
tab2 = n1 * 2
tab3 = n1 * 3
tab4= n1 * 4
tab5 = n1 * 5
tab6 = n1 * 6
tab7 = n1 * 7
tab8 = n1 * 8
tab9 = n1 * 9
tab10 = n1 * 10

print(f'A tabuada do número {n1} é:\n {n1}x1 = {tab1}\n {n1}x2 = {tab2}\n {n1}x3 = {tab3}\n {n1}x4 = {tab4}\n {n1}x5 = {tab5}\n) {n1}x6 = {tab6}\n {n1}x7 = {tab7}\n {n1}x8 = {tab8}\n {n1}x9 = {tab9}\n {n1}x10 = {tab10}\n')

Digite um valor:
4
A tabuada do número 4 é:
 4x1 = 4
 4x2 = 8
 4x3 = 12
 4x4 = 16
 4x5 = 20
) 4x6 = 24
 4x7 = 28
 4x8 = 32
 4x9 = 36
 4x10 = 40

In [20]:
#Exercicio 5.9
#O programa irá receber duas notas e calcular a média entre elas

nota1 = float(input('Digite a primeira nota:\n'))
nota2 = float(input('Digite a segunda nota:\n'))
media = (nota1 + nota2)/2

print(f'A média das notas informadas é: {media}')

Digite a primeira nota:
6
Digite a segunda nota:
6
A média das notas informadas é: 6.0

In [23]:
#Exercicio 5.10
#O programa irá perguntar o salário atual do usuário e calcular o valor do novo com o reajuste de 15, 10 e 5%

salario = float(input('Digite o valor do seu salário:\n'))

reaj15 = (salario + (salario * 15/100))
reaj10 = (salario + (salario * 10/100))
reaj5 = (salario + (salario * 5/100))

print(f'O valor do reajuste de 15% é: {reaj15}')
print(f'O valor do reajuste de 10% é: {reaj10}')
print(f'O valor do reajuste de 5% é: {reaj5}')

Digite o valor do seu salário:
1500
O valor do reajuste de 15% é: 1725.0
O valor do reajuste de 10% é: 1650.0
O valor do reajuste de 5% é: 1575.0